<html lang="en" ng-app="links">
  <head>
    <title>Collect</title>

    <%- js('/js/vendor/closure/collect-compiled.js') %>

    <%- js('/js/vendor/angular/angular.min.js') %>
    <%- js('/js/vendor/angular/angular-sanitize.min.js') %>

    <%- js('/js/vendor/jquery-2.0.3.min.js') %>
    <%- js('/js/vendor/underscore-min.js') %>

    <%- js('/js/vendor/jquery.simplePagination.js') %>
    <%- js('/js/vendor/jquery.imagesloaded.js') %>
    <%- js('/js/vendor/querystring.js') %>
    <%- js('/js/links/pagination.js') %>
    <%- js('/js/links/app.js') %>
    <%- js('/js/links/ui/ui.js') %>
    <%- js('/js/links/data/data.js') %>
    <%- js('/js/links/filter.js') %>
    <%- js('/js/links/controllers/search.js') %>

    <%- css('/stylesheets/normalize.css') %>
    <%- css('/stylesheets/foundation.css') %>
    <%- css('/stylesheets/simplePagination.css') %>
    <%- css('/stylesheets/style.css') %>
    <%- css('/stylesheets/clock.css') %>

  </head>
  <body>
  <%- body %>
  </body>
</html>
